{% extends 'base.html' %}{% load static %}{% block content %}
    <div>
    <br>
    <table id="example" class="table table-bordered table-striped">
                        <thead class="table-dark text-capitalize">
                            <tr >
                                <th scope="col" style="width: 35% !important;">Volunteer</th>
                                <th scope="col" >Details</th>
                                <th scope="col">Request</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>

                                        <a class="ms-2">volunteerName</a><br>
                                        <i class="fa fa-map-marker text-success "></i> : <span>PickupArea</span><br>
                                        <i class="fa fa-car text-warning "></i> : <span>TN01AA1111</span>
                                    </div>
                                </td>
                                <td>
                                    <a class="text-success" data-bs-toggle="modal" data-bs-target="#viewPurchase" data-bs-whatever="@mdo"><i class="fa fa-car"></i></a>
                                    <a class="text-warning"><i class="fa fa-lg ms-2 fa-male"></i></a><br>
                                    <i class="fa fa-car text-success "></i> : <span>Seats:3</span>
                                </td>
                                <td>

                                    <button type="submit" class="btn btn-primary">Waiting to Accept</button>
                            </td>
                            </tr>
                        </tbody>
                    </table>

        </div>
{% endblock %}
