{% extends 'base.html' %}{% load static %}{% block content %}

<form action="{% url 'student' %}" method="post">
{% csrf_token %}
 <label for="cars">Choose an Area : </label>
<div>
<select name="area" id="cars">
    <option value="nil" selected disabled>Choose an Option</option>
    <option value="AnnaNagar">Anna Nagar</option>
    <option value="Arumbakkam">Arumbakkam</option>
    <option value="Adyar">Adyar</option>
    <option value="Alwarpet">Alwarpet</option>
    <option value="Alappakkam">Alappakkam</option>
    <option value="AlwarThiruNagar">Alwarthiru Nagar</option>
    <option value="Ayyanambakkam">Ayyanambakkam</option>
    <option value="BesantNagar">Besant Nagar</option>
    <option value="CMBT">CMBT</option>
    <option value="Chrompet">Chrompet</option>
    <option value="Egmore">Egmore</option>
    <option value="Guindy">Guindy</option>
    <option value="Iyyapanthangal">Iyyapanthangal</option>
    <option value="KKNagar">KK Nagar</option>
    <option value="Kattupakkam">Kattupakkam</option>
    <option value="Kodambakkam">Kodambakkam</option>
    <option value="Kundrathur">Kundrathur</option>
    <option value="Meenambakkam">Meenambakkam</option>
    <option value="Maduravayal">Maduravoyal</option>
    <option value="Mylapore">Mylapore</option>
    <option value="Mogappair">Mogappair</option>
    <option value="Nandanam">Nandanam</option>
    <option value="Nungambakkam">Nungambakkam</option>
    <option value="Nandambakkam">Nandambakkam</option>
    <option value="Nasaratpet">Nasaratpet</option>
    <option value="Porur">Porur</option>
    <option value="Poonamallee">Poonamallee</option>
    <option value="Purasaiwalkam">Purasaiwalkam</option>
    <option value="Pudupet">Pudupet</option>
    <option value="Royapuram">Royapuram</option>
    <option value="Ramapuram">Ramapuram</option>
    <option value="Saidapet">Saidapet</option>
    <option value="TNagar">T Nagar</option>
    <option value="Teynampet">Teynampet</option>
    <option value="Thiruvanmiyur">Thiruvanmiyur</option>
    <option value="Virugambakkam">Virugambakkam</option>
    <option value="Vadapalani">Vadapalani</option>
    <option value="Velachery">Velachery</option>
    <option value="Valasaravakkam">Valasaravakkam</option>
</select>
</div><br>
  <button type="submit" class="btn btn-primary">Search Near Volunteer</button>
</form>
    <div>
<br>
    <table id="example" class="table table-bordered table-striped">
                        <thead class="table-dark text-capitalize">
                            <tr >
                                <th scope="col" style="width: 35% !important;">Volunteer</th>
                                <th scope="col" >Details</th>
                                <th scope="col">Request</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in context.availableVolunteer %}

                            <tr>
                                <td>
                                    <div>

                                        <a href="{% url 'companion' pk=i.id %}" class="ms-2">{{ i.Volunteer }}</a><br>
                                        <i class="fa fa-map-marker text-success "></i> : <span>{{ i.PickupArea }}</span><br>
                                        <i class="fa fa-car text-warning "></i> : <span>TN01AA1111</span>
                                    </div>
                                </td>
                                <td>
                                    <a class="text-success" data-bs-toggle="modal" data-bs-target="#viewPurchase" data-bs-whatever="@mdo"><i class="fa fa-car"></i></a>
                                    <a class="text-warning"><i class="fa fa-lg ms-2 fa-male"></i></a><br>
                                    <i class="fa fa-car text-success "></i> : <span>Seats:3</span>
                                </td>
                                <td>
                                    <form action="{% url 'studentRequest' %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="volunteer" value="{{ i.Volunteer }}" hidden>
                                    <button type="submit" class="btn btn-primary">Request</button>
                                    </form>
                            </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

        </div>

    <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 0, lng: 0}
        });
    }
</script>
{% endblock %}
